html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding:10px;
  background-color:aliceblue;
}

nav {
    background-color:#39c6e3;
    border-radius: 10px;
}
.nav-link {
    color: white;
    padding-left: 30px !important;
}
.nav-link:hover {
    color: #bbf2fc;
}
.navbar-brand {
    color: white;
    padding-left:20px;
}
.navbar-brand:hover {
        color: #bbf2fc;
    }